// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// *** COLOURS ***

// *GRAYSCALES*
$c-black: #000;
$c-white: #fff;
$c-greylink: #888;
$c-darkgrey: #414141;
$c-lightgrey: #9e9e9e;

// *RAINBOW COLOURS*
$c-violet: #9400d3;
$c-indigo: #4b0082;
$c-blue: #00f;
$c-green: #0f0;
$c-yellow: #ff0 ;
$c-orange: #ff7f00;
$c-red: #f00;

// *RANDOM COLOURS*
$c-green: #00a42e;
$c-hotpink: #fa00ff;
$c-darkblue: #000a3e;
$c-greenblue: #005243;
$c-magenta: #7d0043;
$c-purple: #30f;

// *APP COLOURS*
$c-app-green: #96ca2d;
$c-app-blue: #05b8ad;
$c-app-lightgrey: #e7e7e7;
$c-app-darkgrey: #bfbfbf;
$c-app-background: #edf7f2;

// *IMPORTS*
@import 'box-sizing';
@import 'css-resets';
@import 'double-container';
@import 'navbar';
@import 'todo-card';
@import 'todo-list';
